$prefix: xxx;

@keyframes #{$prefix}polish {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.#{$prefix}__wrap {
  background: red;
  height: 48px;
  &__polishing {
    width: 100%;
    height: 1px;
    background: #13c2c2;
    animation: #{$prefix}polish 0.15s ease;
  }
  &__box {
    &__input {
      width: 100%;
      outline: none;
      border: none;
      &:focus {
        caret-color: #13c2c2;
      }
    }
  }
}
